html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f0f0f0;
}

.mat-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  max-width: 300px;
}

button[mat-raised-button] {
  margin-top: 10px;
}

.width-70 {
  width: 70%;
}

.width-50 {
  width: 50%;
}
